<div class="card card-primary">
  <div class="card-header" [ngClass]="bgColor">
    <h3 class="card-title m-0">{{title}}</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" *ngIf="enableMinimize">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove" *ngIf="enableRemove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <canvas
      id="pieChart"
      baseChart
      [data]="pieChartData"
      [type]="'pie'"
      (chartClick)="pieChartClick($event.active)"
      style="
        min-height: 250px;
        height: 450px;
        max-height: 450px;
        max-width: 100%;
      "
    ></canvas>
  </div>
  <!-- /.card-body -->
</div>
