<table mat-table [dataSource]="tableData" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
  <ng-container *ngFor="let tableHeaderName of tableHeaderNames; let i = index">
    <ng-container matColumnDef="{{ tableHeaderName }}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!(i === 1)" sortActionDescription="Sort">
        {{ tableHeaderName }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[tableHeaderName] }}</td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableHeaderNames"></tr>
  <tr mat-row *matRowDef="let row; columns: tableHeaderNames"></tr>
</table>
