<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input
    matInput
    (input)="applyFilter($event.target)"
    placeholder="Ex. ium"
    #input
  />
</mat-form-field>
<table
  mat-table
  [dataSource]="tableData"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
>
  <!-- Position Column -->
  <ng-container *ngFor="let tableHeaderName of tableHeaderNames">
    <ng-container matColumnDef="{{ tableHeaderName }}">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number">
        {{ tableHeaderName }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[tableHeaderName] }}</td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableHeaderNames"></tr>
  <tr mat-row *matRowDef="let row; columns: tableHeaderNames"></tr>
</table>

<!-- <mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator> -->
