    <!-- <button class="btn btn-primary" (click)="logIn()">logIn</button>
    <button class="btn btn-primary mx-2" (click)="logOut()">logOut</button>
    <button class=" btn btn-success px-5" (click)="getToken()">Click me to display Token </button>
    <button class=" btn btn-primary px-6" (click)="callAuthorizedSSAEndPoint()">callAuthorizedSSAEndPoint </button>
    <button class=" btn btn-secondary px-6 mx-2" (click)="refreshMyToken()">Refresh my Token</button>

    <h2>{{currentStatus}}</h2>
    <h2>Status of Token {{tokenStatus}}</h2>
    <h2>Access Token: {{accessToken}}</h2>
    <h2>Id Token: {{idToken}}</h2> -->
<router-outlet></router-outlet>