<!-- <div class="small-box" [style.background-color]="bgColor"> -->
<div class="small-box" [ngClass]="bgColor">
  <div class="inner">
    <!-- <h3 [ngClass]="textColor" class="m-0">{{value}}</h3> -->
    <h4 [ngClass]="textColor" class="m-0 text-bold">{{value}}</h4>
    <mat-icon>supervisor_account</mat-icon>
    <p [ngClass]="textColor">{{title}}</p>
    <!-- <p [ngClass]="textColor" class=" text-bold">{{title}}</p> -->
    
    <h3 [ngClass]="textColor" class="m-0">{{value}}</h3>

  </div>
  <!-- <div class="icon p-1">
    <i class="ion ion-bag"></i>
  </div> -->

</div>