<body class="sidebar-collapse">
  <div class="wrapper">
    <!-- Preloader -->
    <div
      id="loader"
      class="preloader flex-column justify-content-center align-items-center"
      [ngClass]="{ 'h-0': flag }"
    >
      <img
        [ngClass]="{ 'd-none': flag }"
        class="animation__shake"
        src="../../../../../assets/dist/img/AdminLTELogo.png"
        alt="AdminLTELogo"
        height="60"
        width="60"
      />
    </div>

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <ul class="navbar-nav ml-auto">
        <ul class="navbar-nav">
          <!-- SidebarSearch Form -->
          <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search"></div>
          </div>
          <li class="nav-item d-none d-sm-inline-block">
            <button class="nav-link btn btn-link" (click)="logOut()">
              Log Out
            </button>
          </li>
        </ul>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Main row -->
          <section class="content">
            <div class="container-fluid">
              <!-- Content Header (Page header) -->
              <div class="content-header">
                <!-- <div class="container-fluid"> -->
                <div class="row mb-2">
                  <div class="col-sm-12">
                    <h1 class="m-0">Dashboard</h1>
                  </div>
                </div>
                <!-- /.row -->
                <!-- </div> -->
                <!-- /.container-fluid -->
              </div>
              <!-- /.content-header -->

              <!-- Small boxes (Stat box) -->
              <div class="row">
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <app-boxes
                    title="New Orders"
                    textColor="text-white"
                    value="150"
                    bgColor="blue"
                  ></app-boxes>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6" *ngFor="let box of boxes">
                  <app-boxes
                    [title]="box.title"
                    [textColor]="box.textColor"
                    [value]="box.value"
                    [bgColor]="box.bgColor"
                  ></app-boxes>

                  <!-- small box -->
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <!-- PIE CHART -->
                  <app-pie-chart
                    [title]
                    [pieChartData]="pieChartCompaniesData"
                    (sendCompanyName)="sendCompanyName($event)"
                    (sendCompanyData)="sendCompanyData($event)"
                    [enableRemove]="true"
                  ></app-pie-chart>
                </div>
                <div class="col-md-6">
                  <app-bar-chart
                    [title]
                    [barChartData]="barChartData"
                    [enableRemove]="true"
                  ></app-bar-chart>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </div>

    <aside class="control-sidebar control-sidebar-dark"></aside>
  </div>
</body>
