/* You can add global styles to this file, and also import other style files */

.h-0{
    height: 0px !important;
 }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-tint{
    background:#eb6455 !important;
}
.text-tint{
    color: #eb6455 !important;

}
.bg-flamingo{
    background-color: #FE9E38 !important;
}
.text-flamingo{
    color: #FE9E38 !important;
}
.text-bold{
    font-weight: 600 !important;
}
